@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply m-0 p-0 box-border min-h-screen;
  & #app {
    @apply flex flex-col min-h-screen;
    & .base-content {
      @apply flex-grow;
    }
  }
}

@font-face {
  font-family: "TrebuchetMS";
  src: url("@/assets/fonts/Trebuchet\ MS/TrebuchetMS.eot");
  src: url("@/assets/fonts/Trebuchet\ MS/TrebuchetMS.woff") format("woff"),
    url("@/assets/fonts/Trebuchet\ MS/TrebuchetMS.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "TrebuchetMS";
  src: url("@/assets/fonts/Trebuchet\ MS/TrebuchetMS-Bold.eot");
  src: url("@/assets/fonts/Trebuchet\ MS/TrebuchetMS-Bold.woff") format("woff"),
    url("@/assets/fonts/Trebuchet\ MS/TrebuchetMS-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
